version: '3.8'

services:
  db:
    image: mysql:8.1
    container_name: mysql_container
    restart: always
    env_file:
      - .env
    ports:
      - "${MYSQL_PORT}:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  web:
    build: .
    container_name: flask_container
    restart: always
    env_file:
      - .env
    ports:
      - "${FLASK_RUN_PORT}:5000"
    depends_on:
      - db

volumes:
  mysql_data:
